<div class="">
  <p class="text-muted" style="font-size: 32px">
    <b><%= t('.header') %></b>
  </p>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th><%= t('.table.question') %></th>
      <th><%= t('.table.gist_url') %></th>
      <th><%= t('.table.email') %></th>
      <th><%= t('.table.author') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @gists %>
    </tbody>
  </table>
</div>