<h1>Passing the <%= @test_passage.test.title %> test</h1>

<div class="progress">
  <div class="progress-bar"
       role="progressbar"
       id="progressBar"
       data-progress="<%= @test_passage.progress_by_percents %>"
       style="width: 0%;" aria-valuemin="0" aria-valuemax="100">

    <%= @test_passage.progress_by_percents %>

  </div>
</div>

<h3> Question  <%= @test_passage.test.questions.ids.find_index(@test_passage.current_question.id) + 1 %> /
  <%= @test_passage.test.questions.count %> </h3>

<p>
  <b>
    <%= @test_passage.current_question.body %>
  </b>
</p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body,
      include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object_id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= link_to 'GIST question', gist_test_passage_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Next' %></p>

<% end %>

<p><%= link_to 'To test list', root_path %></p>

