<tr>
  <td class="align-middle">
    <%= content_tag :span,
                    test.title,
                    class: 'test-title',
                    data: { test_id: test.id } %>

    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <% if user_signed_in?  %>
    <td class="align-middle"><%= test.questions.count %></td>
    <td class="align-middle"><%= link_to t('.actions.show'), admin_test_path(test), class: "badge badge-success" %></td>
    <td class="align-middle">
      <%= link_to t('.actions.edit'),
                  edit_admin_test_path(test),
                  data: { test_id: test.id },
                  class: "badge badge-warning form-inline-link" %>
    </td>
    <td class="align-middle"><%= link_to t('.actions.delete'),
            admin_test_path(test),
            method: :delete,
            data: { confirm: I18n.t("confirm.message") },
            class: "badge badge-danger" %>
    </td>
  <% end %>
</tr>