<h1><b><%= t('.header') %></b></h1>

<p>
<%= link_to  t('.create_link'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t('.table.title') %></th>
    <th><%= t('.table.level') %></th>
    <% if user_signed_in? %>
    <th><%= t('.table.question_count') %></th>
    <th colspan="3"><%= t('.table.actions') %></th>
    <% end %>
  </tr>
    <%= render @tests %>
</table>
