<div class="">
  <p class="text-muted" style="font-size: 32px">
    <b><%= t('.header') %></b>
  </p>
</div>

<p class=" box" align="center">
  <%= link_to  t('.create_link'), new_admin_test_path, style: "text-decoration: none" %>
</p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th><%= t('.table.title') %></th>
        <th><%= t('.table.level') %></th>
        <% if user_signed_in? %>
        <th><%= t('.table.question_count') %></th>
        <th colspan="3"><%= t('.table.actions') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
</div>
