<h1><b><%= t('.header') %></b></h1>

<table>
  <tr>
    <th><%= t('.table.title') %></th>
    <th><%= t('.table.level') %></th>
    <% if user_signed_in? %>
    <th><%= t('.table.question_count') %></th>
    <th> <%= t('.table.actions') %> </th>
    <% end %>
  </tr>
    <%= render @tests %>
</table>
